body {
    margin: 0;
    padding: 10px;
    overflow-x: hidden;
}

.logo img {
    width: 100px;
    height: 110px;
    display: block;
}

#time {
    text-align: right;
    vertical-align: middle;
    top: auto;
    margin-top: 40px;
}

.title {
    text-align: center;
    font-size: large;
}

@media only screen and (max-width: 600px) {
    #time {
        margin-top: 5px;
        text-align: center;
    }

    a img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}